.idea/vcs.xml
.idea/misc.xml
.idea/Tool-Knowledge-Transfer-proj.iml

# Ignore all __pycache__ directories
__pycache__/

# Optionally ignore .pyc files outside __pycache__ directories
*.pyc

ignored_files/**

*.log
logs/**

local_stuff/

/0_setup_my_env.sh
